@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --bg-black: #0f0f0f;
  --white: #f8f8f8;
  --nav-text: rgb(255, 255, 255);
  --border-color: rgba(39, 43, 45, 0.43);
  --phone-color: rgb(15, 15, 15);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-black);
  color: var(--white);
}




